* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: auto;
}

input {
  padding: 0.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}

button {
  padding: 0.5rem;
  color: black;
  border: none;
  margin-top: 20px;
  outline: none;
  background-color: wheat;
}

button:hover {
  background-color: rgb(245, 170, 31);
  transition: all 0.5s ease-in-out;
}

.err {
  border: 1px solid red;
}

h5 {
  color: red;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: underline;
}

.city-state {
  display: inline-block;
  width: 50%;
}

.country {
  padding: 0.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}

.address {
  display: inline-block;
  width: 100%;
}

label {
  width: 240px;
  display: inline-block;
}
